@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DataAccess.ViewModel.User.EditUserViewModel

<div class="container mx-5">
    <form asp-route-id="@Model.Id" asp-action="EditUser" asp-controller="Auth" method="post" class="needs-validation" novalidate>
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["error"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="mb-1  form-group">
            <label asp-for="Email" class="form-label">Employee Email</label>
            <input type="email" class="form-control" id="Email" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-1  form-group">
            <label asp-for="EmpId" class="form-label">Employee Id</label>
            <input type="number" class="form-control" id="EmpId" asp-for="EmpId">
            <span class="text-danger" asp-validation-for="EmpId"></span>
        </div>

        <div class="mb-1  form-group">
            <label asp-for="FullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="FullName" asp-for="FullName">
            <span class="text-danger" asp-validation-for="FullName"></span>
        </div>

        <div class="mb-1 form-group">
            <label for="SelectedDepartment" class="form-label">Department</label>
            <select class="form-control" id="SelectedDepartment" asp-for="SelectedDepartment" asp-items="Model.Departments">
                <option value="">-- Select Department --</option>
            </select>
            <span class="text-danger" asp-validation-for="SelectedDepartment"></span>
        </div>

        <div class="mb-1 form-group">
            <label for="SelectedDesignation" class="form-label">Designation</label>
            <select class="form-control" id="SelectedDesignation" asp-for="SelectedDesignation" asp-items="Model.Designations">
                <option value="">-- Select Designation --</option>
            </select>
            <span class="text-danger" asp-validation-for="SelectedDesignation"></span>
        </div>

        <div class="mb-1 form-group">
            <label for="SelectedRole" class="form-label">Role</label>
            <select class="form-control" id="SelectedRole" asp-for="SelectedRole" asp-items="Model.Roles">
                <option value="">-- Select Role --</option>
            </select>
            <span class="text-danger" asp-validation-for="SelectedRole"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>

</div>
