
@{
    ViewData["Title"] = "ResetPasswordRequestWithEmail";
}
@model DataAccess.ViewModel.auth.ResetPasswordRequestViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meeting_Scheduling_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Meeting_Scheduling_System.styles.css" asp-append-version="true" />
</head>
<body>
    @if (TempData["message"] != null || TempData["error"] != null)
    {
        @if (TempData["error"] != null)
        {
            <h4>@TempData["error"]</h4>
        }
    }
    <div class="container mt-5 py-3 w-25" id="login" style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
        <h2>Password Reset Request</h2>
        <form method="post" asp-action="ResetPasswordRequestWithEmail">
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="mb-3 form-group">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <button type="submit" class="btn btn-primary py-1">Proceed</button>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>




